#login .captcha__sms:active,
#login .captcha__sms:hover {
  text-decoration: none;
  outline: 0;
}

#login .captcha__sms:hover {
  color: #db5e69;
}
#login .captcha__sms {
  color: #32b3bd;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
#login .cc-message_count {
  top: 130px;
}

#login .cc_item {
  position: absolute;
  right: 45px;
  display: inline-block;
  height: 47px;
  margin-left: 30px;
  vertical-align: top;
}

#login .cc_btns .register_btn {
  color: #999999;
  padding-left: 0;
  padding-top: 7px;
}

#login .cc_btns>a {
  display: inline-block;
  text-align: right;
}

#login .gp_button_topic_main {
  background: #46d233;
  color: #fff;
  border: 0;
  margin-top: 7px;
}

#login .gp_button_h40 {
  height: 40px;
  line-height: 40px !important;
  font-size: 16px;
  text-decoration: none !important ;
}

#login .gp_button_none:hover {
  background: 0 0;
  color: #444;
  border: 0;
}

#login .gp_button_topic_main:hover {
  background: #3fbd2e;
  color: #fff;
  border: 0;
}

#login .gp_button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  width: auto;
  border-radius: 0;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 33px;
  line-height: 33px !important;
  font-size: 16px;
}

#login .form-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: none;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

#login .form-wraps {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: none;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

#login .form {
  width: 400px;
  height: 411px;
  border-radius: 4px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.3);
  background-color: #fdfdfd;
  margin: 180px auto;
  position: relative;
}

#login .form .close-wrap {
  position: absolute;
  cursor: pointer;
  top: -20px;
  right: -30px;
}

#login svg:not(:root) {
  overflow: hidden;
}

#login .form_tittle {
  float: left;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 28px;
  font-size: 26px;
  font-weight: 500;
  color: #2c2f36;
}

#login .normal-input {
  margin: 18px 40px 0 42px;
  border: none;
  outline: none;
  font-size: 14px;
  width: 320px;
  padding: 8px 8px 8px 0;
  display: block;
  border-bottom: 1px solid #e8eaee;
}

#login constructed stylesheet button,
input {
  overflow: visible;
}

#login constructed stylesheet input,
button,
select,
optgroup,
textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

#login .form .sms {
  position: relative;
}

#login .error_div {
  margin: 6px 40px;
  height: 16px;
  text-align: center;
}

#login .error_text {
  color: #ce384a;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  margin-left: 5px;
}

#login .ant-checkbox-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  display: inline-block;
  line-height: unset;
  cursor: pointer;
}

#login .submit-button {
  width: 320px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 4px;
  margin: 29px auto 0 40px;
  background-color: #da5d6b;
}

#login .form_footer {
  margin-top: 20px;
  color: #a2a2a2;
}

#login .form_footer .change-type {
  float: right;
  margin-right: 146px;
  font-size: 12px;
}

#login .form_footer .change-type span {
  cursor: pointer;
  color: #32b3bd;
}

#login .form_footer .tip-message {
  float: left;
  margin-left: 40px;
  font-size: 12px;
}

#login .change::-webkit-input-placeholder {
  color: red;
}

#login .err {
  color: red;
}

#login .login__input {
  width: 320px;
  height: 53px;
  margin-left: 40px;
}

#login .captcha {
  display: flex;
  align-items: center;
}

#login .ui-input {
  position: relative;
  padding: 18px 0;
  border-bottom: 1px solid #dfe6e5;
}

#login .captcha input {
  flex: 1;
}

#login .ui-input input {
  width: 100%;
  height: 33px;
  font-size: 14px;
  outline: none;
  border: none;
  padding-top: 20px;
}

#login .captcha__sms {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
}

#login .form .norinput {
  padding: 0px 6px 8px 0;
}

#login .from input,
textarea::-webkit-input-placeholder {
  color: rgb(22, 13, 13);
  outline: 0;
}

#login .from input,
textarea::placeholder {
  color: rgb(22, 13, 13);
  outline: 0;
}
