html {
  background-color:#f4f6f9;
}
.vw-tool .vw-search-works-module {
  width: 200px;
  position: relative;
  float: right;
  height: 40px;
}

.vw-tool .vw-search-works-module .vw_search {
  position: absolute;
  right: 8px;
  width: 200px;
  height: 40px;
  background-color: #fff;
}

.vw-tool .vw-search-works-module .vw_search .btn {
  cursor: pointer;
  position: absolute;
  padding: 3px 15px 5px;
  z-index: 1;
  right: 0;
  top: 5px;
}

.vw-tool .vw-search-works-module .vw_search .input-text {
  font-size: 14px;
  color: #444;
  padding: 11px 0 0 15px;
  width: 140px;
}
a,
button,
input,
select,
textarea,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
[onclick] {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: 0;
  border-radius: 0;
  background: 0 0;
  outline: 0;
}

input,
textarea {
  outline: 0;
  font-family: PingFang SC, Helvetica, "WenQuanYi Micro Hei", "Microsoft Yahei", Arial, sans-serif;
  resize: vertical;
}

.el-icon-view,
.el-icon-chat-dot-square {
  font-size: 16px;
  margin-right: 3px;
  margin-top: 8px;
}

.el-icon-chat-dot-square {
  margin-left: 20px;
}

.vw-tool {
  margin: 0 auto;
  width: 1200px;
  height: 40px;
}

.clearfix {
  *zoom: 1;
}

.vw-tool .vw-filter-works-module {
  float: left;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: outside;
}

.vw-tool .vw-filter-works-module ul li {
  float: left;
  font-size: 14px;
  margin-right: 20px;
  padding-top: 13px;
}

li {
  list-style: none;
}

.vw-tool .vw-filter-works-module ul li .active {
  color: #46d233;
  position: relative;
}

.vw-tool .vw-filter-works-module ul li .active::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 4px;
  background: #46d233;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.works-tab-container {
  background: #f4f6f9;
}

.tab-content-container {
  width: 1200px;
  margin: auto;
  background: #fff;
}

.tab-content {
  width: 1220px;
}

.works-content {
  margin-left: -20px;
  background-color: #f4f6f9;
}

.works-detail .w_user_works_preview {
  margin-top: 20px;
  margin-left: 18px;
}

.works-content .w_user_works_preview {
  margin-top: 20px;
  margin-left: 18px;
}

.works-preview {
  display: block;
  float: left;
}

.w_user_works_preview {
  display: inline-block;
  width: 386px;
  height: 546px;
}

.w_user_works_preview .works-item {
  display: inline-block;
  position: relative;
  width: 386px;
  height: 546px;
  background-color: #fff;
}

.w_user_works_preview .works-image {
  position: relative;
  display: inline-block;
  width: 386px;
  height: 386px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e7eaee;
  cursor: pointer;
  overflow: hidden;
}

a:link {
  -webkit-touch-callout: none;
  text-decoration: none;
}

a,
button,
input,
select,
textarea,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
[onclick] {
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #444;
  -webkit-transition: color .3s;
  -ms-transition: color .3s;
  -moz-transition: color .3s;
  transition: color .3s;
}

a {
  color: #96a8d0;
  text-decoration: none;
}

.works-detail .w_user_works_preview .works-item .cc_shadow {
  display: none;
}

.w_user_works_preview .works-item .cc_shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 120px;
  background: -webkit-linear-gradient(top, rgba(85, 85, 85, 0), rgba(17, 17, 17, .5));
  background: -o-linear-gradient(top, rgba(85, 85, 85, 0), rgba(17, 17, 17, .5));
  background: -moz-linear-gradient(top, rgba(85, 85, 85, 0), rgba(17, 17, 17, .5));
  background: linear-gradient(top, rgba(85, 85, 85, 0), rgba(17, 17, 17, .5));
  background: -ms-linear-gradient(top, rgba(85, 85, 85, 0), rgba(17, 17, 17, .5));
}

.w_user_works_preview .image-count {
  position: absolute;
  bottom: 16px;
  right: 10px;
  padding: 0 7px 3px;
  height: 28px;
  font-size: .14rem;
  line-height: 27px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, .4);
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.w_user_works_preview .image-count span {
  display: block;
  float: left;
}

.w_user_works_preview .image-count-font {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: top;
}

.icon-group:before {
  content: "\e61e";
}

.w_user_works_preview .works-image__img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  border: 0;
  outline: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  object-fit: cover;
}

a img {
  border: 0;
}

fieldset,
img {
  border: 0;
}

.w_user_works_preview .works-info {
  position: relative;
  padding: 12px 20px 20px;
  height: 160px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.w_user_works_preview .works-time {
  margin-bottom: 10px;
  font-size: .12rem;
  color: #999;
}

.w_user_works_preview .works-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 16px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: #444;
}

.w_user_works_preview .tag-list {
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.w_user_works_preview .tag-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-right: 10px;
  padding: 7px 10px;
  font-size: 14px;
  color: #999;
  line-height: 1;
  background: #f0f1f2;
}

.w_user_works_preview .works-count-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0 20px;
  font-size: .14rem;
  color: #999;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.w_user_works_preview .works-count-info .cc_info_left {
  padding-bottom: 17px;
}

.w_user_works_preview .works-count-info .cc_info_left .cc_left_tag {
  display: inline-block;
  height: 30px;
}

.icon-view:before {
  content: "\e717";
}

.icon-zan:before {
  content: "\e624";
}

.w_user_works_preview .works-option-wrapper {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 30px;
  margin-left: 179px;
  vertical-align: top;
  cursor: pointer;
}

.works-option {
  display: none;
}

.works-option_1 {
  display: inline-block;
}
.el-button--text {
  color: #409EFF;
  margin-top: -3px;
  background: 0 0;
  padding-left: 0;
  padding-right: 0;
}
.el-message-box{
  height: 150px;
}
.el-message-box__content {
  padding: 25px 15px;
  font-size: 18px;
}